<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<%= form_tag '/login' do %>

    <div class="w3-container">
        <%= label_tag "Username: " %>
        <%= text_field_tag :username %>
    </div>

    <div class="w3-container">
        <%= label_tag "Your Password: " %>
        <%= password_field_tag :password %>
    </div>

    <div class="w3-container">
        <%= submit_tag "Log in" %>
    </div>

<% end %> 