<h2><%= @task.project_title %></h2>

<h3><%= @task.name %></h3>
<p><%= @task.description %></p><br/>

<p>Assigned To: <%= @task.user_username %></p>

<%= @task.status %>

<%= button_to "Delete", task_path(@task), method: :delete %>