<%= form_for @project do |f| %>

    <% if @project.errors.any? %>
        <div id="error_explanation">
        <% @project.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
        </div>
    <% end %>

    <div>  
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.submit "Submit" %>
    </div>

<% end %>