<!DOCTYPE html>
<html>
  <head>
    <title>One Project Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/home">One Project Manager</a>
        <% if !current_user %>
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:3000/home">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:3000/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="http://localhost:3000/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
            <li><a href="http://localhost:3000/auth/facebook"><span class="fa fa-facebook"></span> Log in with Facebook</a></li>
          </ul>
        <% end %>
        <% if current_user %>
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:3000/home">Home</a></li>
            <li><a href="http://localhost:3000/users">Profile</a></li>
            <li><a href="http://localhost:3000/users">Users</a></li>
            <li><a href="http://localhost:3000/projects">Projects</a></li>
            <li><a href="http://localhost:3000/tasks">Tasks</a></li>
          </ul>
        <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
